{% extends 'base-templates/userBase.html.twig' %}

{% block content %}
    <h1>Product List</h1>
    {{ form(filter_form) }}

    <ul>
        {% for product in pagination %}
            <li>
                <a href="{{ path('app_product_info', { 'id': product.id }) }}">
                    {{ product.name }} - ${{ product.price }}
                </a>
            </li>
        {% endfor %}
    </ul>



    {{ knp_pagination_render(pagination) }}
{% endblock %}
